.pio/*
.vscode/*
tools/magicIoTm/projects/*
tools/magicIoTm/magicIoTm.log
tools/magicIoTm/devices/*
/tools/measure_size/logs/*
/tools/measure_size/venv/*
tools/magicIoTm/__pycache__/*
tools/magicIoTm/utils/__pycache__/*
