# Virtual environments
.venv/
.venv-1/

# Python artifacts
__pycache__/
*.py[cod]
*.log

# IDE & editors
.vscode/
.codeassistant/
.continue/
.kilo/
.qodo/

# PlatformIO
.pio/

# Build output
data_full — копия/
iotm/
lt_littlefs.bin

# Project-specific
data_svelte/settings.json
tools/magicIoTm/projects/*
tools/magicIoTm/devices/*
tools/magicIoTm/utils/__pycache__/
